argocd-deployment-app:
  baseDomain: *baseDomain
  clusterName: *clusterName
  git: *git
  helm: *helm
  proxy: *proxy
  certs:
  - host: artifactory.csin.cz
    cert: *rootcacert
  nodeSelector: *nodeSelector
  storage: *argocd-storage
  grafana_dashboards:
    create: false
    namespace: csas-monitoring
  readonly: false
