argocd-deployment-sys:
  baseDomain: *baseDomain
  clusterName: *clusterName
  cluster:
    system_repo: *system-repo
    app_repo: *app-repo
  git: *git
  helm: *helm
  proxy: *proxy
  certs:
  - host: artifactory.csin.cz
    cert: *rootcacert
  storage: *argocd-storage
  grafana_dashboards:
    create: false
    namespace: csas-monitoring 
  readonly: false
  nodeSelector: *nodeSelector
  tolerations: *tolerations
