argocd-deployment-sys:
  baseDomain: *baseDomain
  clusterName: *clusterName
  cluster:
    system_repo: *system-repo
    app_repo: *app-repo
  git: *git
  helm: *helm
  dex:
    adminGroup: 'clusteradmins'
  proxy: *proxy
  certs:
  - host: artifactory.csin.cz
    cert: *rootcacert
