ARGOCD:
  - name: argocd-deployment-sys
    version: v0.7.3
    type: helm 
  - name: argocd-deployment-app
    version: v0.7.3
    type: helm
CLUSTER_CONFIG:
  - name: cluster-config
    version: v0.1.0
    type: helm
