ARGOCD_DEPLOYMENT: v0.0.0
  - name: argocd-sys
    version: v0.0.0
    type: helm 
  - name: argocd-app
    version: v0.0.0
    type: helm
CLUSTER_CONFIG:
  - name: cluster-config
    version: v0.0.0
    type: helm
