ARGOCD:
  - name: argocd-deployment-sys
    version: v0.8.2
    type: helm
    namespace: csas-argocd-sys
  - name: argocd-deployment-app
    version: v0.8.2
    type: helm
    namespace: csas-argocd-app
    appconfig:
      spec:
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
CLUSTER_CONFIG:
  - name: cluster-config
    version: v0.1.2
    type: helm
    namespace: csas-argocd-sys
    appconfig:
      spec:
        syncPolicy:
          syncOptions:
          - CreateNamespace=false
CSAS_OPERATOR:
  - name: csas-project-operator
    version: 1.0.0-rc.17
    type: kustomize
    appconfig:
      spec:
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
  - name: csas-application-operator
    version: 1.1.0-rc.11
    type: kustomize
    appconfig:
      spec:
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
ELOS_MONITORING:
  - name: monitoring-operator
    version: 0.1.0
    type: helm
    namespace: csas-monitoring
    appconfig:
      spec:
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
  - name: monitoring
    version: 0.1.0
    type: helm
    namespace: csas-monitoring
    appconfig:
      spec:
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
