memory: &memory 128Mi
argons: &argons ARGOCD_NAMESPACE=csas-argocd-app

##########
csas-project-operator:
  patches:
    - apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: controller-manager
      spec:
        template:
          spec:
            containers:
            - name: manager
              resources:
                limits:
                  memory: *memory
                requests:
                  memory: *memory
            priorityClassName: *priorityClass
    - apiVersion: ops.csas.cz/v1
      kind: ProjectOperatorConfig
      metadata:
        name: csas-project-operator-controller-manager
      spec:
        <<: *workload
        <<: *roleBinding
  configMapGenerators:
    - name: controller-manager
      behavior: merge
      literals:
        - *argons
        - *envtypes
