memory: &memory 1536Mi                                                           # PER-CLUSTER: memory request/limit
cpu: &cpu 250m                                                                   # PER-CLUSTER: cpu request
maxConcurrentReconciles: &maxConcurrentReconciles MAX_CONCURRENT_RECONCILES=8    # PER-CLUSTER: max concurrent reconciles

##########
csas-application-operator:
  patches:
    - apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: controller-manager
      spec:
        template:
          spec:
            containers:
            - name: manager
              resources:
                limits:
                  memory: *memory
                  cpu: '2'
                requests:
                  memory: *memory
                  cpu: *cpu
            priorityClassName: openshift-user-critical
            affinity:
              nodeAffinity: *nodeAffinity
            tolerations: *tolerations
  configMapGenerators:
    - name: controller-manager
      behavior: merge
      literals:
        - ARGOCD_NAMESPACE=csas-argocd-app
        - *maxConcurrentReconciles
