baseDomain: &baseDomain
clusterName: &clusterName

system_repo: &system-repo
app_repo: &app-repo

cluster: &cluster
  name: deva
  type: cloud
git: &git
  url: ssh://git@sdf.csin.cz:2222/OCP4/
  use_sshkey: true
helm: &helm
  url: https://artifactory.csin.cz/artifactory/csas-helmcharts/
kustomize: &kustomize
  url: https://artifactory.csin.cz/artifactory/ocp-generic/

workload: &workload
  environmentTypes:
    - dev
    - test
  applicationSource: https://github.com/cs-poc/{}-apps.git
  sourceRepos:
    - git@github.com:cs-poc/{}-*.git
    - https://github.com/cs-poc/{}-*.git
    - https://artifactory.csas.elostech.cz/artifactory/{}-helm
