baseDomain: &baseDomain csin.cz
clusterName: &clusterName tocp4s      # PER-CLUSTER: cluster name
nodeSelector: &nodeSelector           # because GitOps operator doesn't support nodeAffinity
  node-role.kubernetes.io/infra: ""
nodeAffinity: &nodeAffinity
  preferredDuringSchedulingIgnoredDuringExecution:
  - weight: 1
    preference:
      matchExpressions: &nodeAffinityExpressions
      - key: node-role.kubernetes.io/infra
        operator: Exists
tolerations: &tolerations
  - effect: NoExecute
    key: server-role
    operator: Equal
    value: infra
system_repo: &system-repo ssh://git@sdf.csin.cz:2222/ocp4/ocp-onprem-tocp4s-system.git      # PER-CLUSTER: cluster system repo
app_repo: &app-repo ssh://git@sdf.csin.cz:2222/ocp4/ocp-onprem-project.git
kustomize: &kustomize
  url: https://artifactory.csin.cz/artifactory/csas-openshift-generic-local/
proxy: &proxy
  http_proxy: &http_proxy "http://ngproxy-test.csint.cz:8080/"      # PER-CLUSTER: per-env proxy
  https_proxy: *http_proxy
  no_proxy: ".cluster.local,.cs-test.cz,.csin.cz,.csint.cz,.svc,10.0.0.0/16,10.88.56.0/21,127.0.0.1,100.96.0.0/15,100.98.0.0/16,api-int.tocp4s.csin.cz,localhost,argocd-repo-server,argocd-application-controller,argocd-metrics,argocd-server,argocd-server-metrics,argocd-redis"    # PER-CLUSTER: cluster IP ranges
