monitoring:
  baseDomain: *baseDomain
  clusterName: *clusterName

  nodeSelector: *nodeSelector

  monitoring-operator:
    nodeSelector: *nodeSelector

  dashboardsConfigMaps:
  - configMapName: csas-argocd
    fileName: argocd.json
  - configMapName: sealed-secrets-controller-sealed-secrets-controller
    fileName: sealed-secrets-controller.json
